<div id="<%= comment.id %>">
  <div class="blog-post-format d-flex justify-content-between">
    <div>
      <span>
        <%= link_to '#' do %>
          <img src="#" class="img-fluid rounded-circle">
          <%= comment.user.name %>
        <% end %>
      </span>
      <span>
        <%= creation_date(comment) %>
      </span>
      <span>
        <%= link_to comment_likes_path(comment), class:"text-danger", data: { method: :post, remote: true } do %>
          <% if user_signed_in? and liked?(comment) %>
            <i class="fas fa-heart"></i>
          <% else %>
            <i class="far fa-heart"></i>
          <% end %>
          <%= comment.likes.count %>
        <% end %>
      </span>
    </div>
    <div>
      <% if can? :update, comment %>
        <span>
          <%= link_to '#' do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
  <div>
    <p><%= comment.content %></p>
  </div>
</div>