<%= form_with(model: comment) do |f| %>
  <%= f.hidden_field :post_id, value: post_id %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control comment-field' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-success btn-sm' %>
<% end %>