<nav class="navbar navbar-expand-lg navbar-light navbar-default">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Bastion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <input id="search-form" class="form-control w-auto" type="search" placeholder="Search">
          </li>
          <% if can? :create, Post %>
            <li>
              <%= link_to new_post_path, class: 'nav-link', data: {remote: true} do %>
                <i class="fas fa-pen-square"></i> New
              <% end %>
            </li>
          <% end %>
          <li>
            <div class="dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
              </a>
              <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </div>
            </div>
          </li>
        <% else %>
          <li><%= link_to 'Inicia sesión', new_user_session_path, class: 'nav-link ml-3' %></li>
          <li><%= link_to 'Regístrate', new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>