<div id="<%= post.id %>" class="post card mt-3">
  <div class="card-body">
    <h3 class="post-title card-title"><%= post.title %></h3>
    <div class="d-flex justify-content-between">
      <%= link_to 'Leer más...', post_path(post), data: { remote: true } %>
      <div>
        <% if post.user == current_user %>
          <%= link_to edit_post_path(post), class: 'ml-1', data: { remote: true } do %>
            <i class="fas fa-edit text-info"></i>
          <% end %>
          <%= link_to post_path(post), class: 'ml-1', data: { remote:true, method: :delete, confirm: '¿Seguro que desea eliminar este post y todo su contenido?' } do %>
            <i class="far fa-times-circle text-danger"></i>
          <% end %>
        <% end %>
        
        <% if can? :set_favourite, Favourite %>
          <%= link_to post_favourite_path(post), class: 'ml-1', data: { remote: true, method: :post } do %>
            <% if user_signed_in? and favourite?(post) %>
              <i class="fas fa-star text-warning"></i>
            <% else %>
              <i class="far fa-star text-warning"></i>
            <% end %>
          <% end %>
          
        <% end %>
        
      </div>
    </div>
  </div>
</div>