<div id="<%= post.id %>" class="blog-post-thumb">
  <div class="blog-post-image">
    <%= link_to post_path(post) do %>
      <img src="#" class="img-fluid" alt="Blog Image">
    <% end %>
  </div>
  <div class="blog-post-title">
    <h3 class="post-title card-title"><%= link_to post.title, post_path(post) %></h3>
  </div>
  <div class="blog-post-format d-flex justify-content-between">
    <div>
      <span>
        <%= link_to '#' do %>
          <img src="#" class="img-fluid rounded-circle">
          <%= post.user.name %>
        <% end %>
      </span>
      <span>
        <%= creation_date(post) %>
      </span>
      <span>
        <%= link_to '#' do %>
          <i class="far fa-comment"></i>
          <%= pluralize(post.comments.count, 'comment') %> 
        <% end %>
      </span>
    </div>
    <div>
      <% if can? :set_favourite, Favourite %>
        <%= link_to post_favourite_path(post), class: 'ml-1', data: { remote: true, method: :post } do %>
          <% if favourite?(post) %>
            <i class="fas fa-bookmark text-warning"></i>
          <% else %>
            <i class="far fa-bookmark text-warning"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="blog-post-des">
    <p><%# post.description %>asdf</p>
    <%= link_to 'Continue reading', post_path(post), class: 'btn btn-outline-secondary' %>
  </div>
</div>